* {
    /* outline: 1px solid red; */
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
}

#calculator {
    outline: 1px solid grey;
    width: 50%;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    aspect-ratio: 1;
}

#display {
    outline: 1px solid grey;
    min-height: 2rem;
    font-size: 2rem;
    padding-right: 1rem;
    display: flex;
    flex: 0.25;
    align-items: center;
    justify-content: end;
}

#inputBtns {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.row {
    display: flex;
    flex: 1;
}

button {
    flex: 1;
}

.nul {
    pointer-events: none;
}